
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');



:root {
    --font: 'Cairo', sans-serif;
}


html {
    height: 100%;
}

body {
    padding: unset;
    margin: unset;
    height: 100%;
    background: rgb(44,61,62);
    background: -moz-linear-gradient(0deg, rgba(44,61,62,1) 0%, rgba(39,48,48,1) 47%, rgba(36,36,36,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(44,61,62,1) 0%, rgba(39,48,48,1) 47%, rgba(36,36,36,1) 100%);
    background: linear-gradient(0deg, rgba(44,61,62,1) 0%, rgba(39,48,48,1) 47%, rgba(36,36,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2c3d3e",endColorstr="#242424",GradientType=1);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: var(--font);
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

main {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


h4 {
    font-size: 12px;
    color: #656363;
    margin: unset;
}


nav {
    max-width: 600px;
    min-width: 600px;
}

nav h1 {
    color: white;
    letter-spacing: 9rem;
    font-size: 4rem;
    margin: unset;
    opacity: 0.1;
}


nav .inner {
    gap: 3rem;
    display: flex;
    flex-direction: column;
}

nav img {
    width: 250px;
    align-self: center;
}

.nav-item {
    place-self: center;
}

.nav-item a {
    color: white;
}

.lists {
    max-width: 600px;
    min-width: 600px;
    border-radius: 12px;
}

.inner {
    padding: 6px 12px;
}

.lists h2 {
    margin: unset;
    color: white;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 16px 2px;
    gap: 4px;
}

.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 6px;
    border-bottom: solid 1px #80808052;
    transition: 1.2s;
}
.list-item:hover {
    backdrop-filter: blur(15px);
    background-color: #8080800f;
    border-radius: 6px;
}
.list-item.closed {
    opacity: 0.3;
}

.list-icon {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    cursor: pointer;
}

.list-content {
    width: 70%;
    color: white;
    padding-left: 6px;
}

.list-content p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #c3c1c1
}

.list-additional {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.list-additional .material-symbols-outlined {
    font-size: 14px;
    color: grey;
}

.list-actions {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 6px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button.remove,
.button.menu-item {
    text-decoration: none;
    border: solid 1px #80808045;
    padding: 4px;
    border-radius: 50px;
    min-width: 80px;
    height: 14px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #80808082;
}

.button.remove:hover,
.button.menu-item:hover {
    color: #808080c4;
}

h3 {
    margin: unset;
}

p {
    margin: unset;
}

button, .button {
    background-color: unset;
    border: solid 0px #80808052;
    color: white;
    cursor: pointer;
}

button:hover {
    backdrop-filter: blur(1px);
}

.check {
    cursor: pointer;
}

.delete {
    color: #f44336ad;
}

.qrcode-container {
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    opacity: 0.7;
}

.qrcode-container img {
    border-radius: 15px;
}

.qrcode-container h3 {
    color: #9e9e9e61;
    max-width: 200px;
}

.qrcode-container .inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.qrcode-container:hover {
    opacity: 1;
}




/*
 * Mobile Styling
 */
@media (max-width: 500px) {

    nav,
    .lists {
        max-width: unset;
        min-width: unset;
        width: 100%;
        width: -webkit-fill-available;
    }

    nav h1 {
        letter-spacing: 55px;
    }

    .qrcode-container {
        position: relative;
    }
}